.list{
    width: 100%;
    height: auto;
    float: left;
}
.product{
    width: 200px;;
    height: 280px;
    font-size: 12px;
    float: left;
    border: 1px solid blue;
    padding: 2px;
}
.product a{
    text-decoration: none;
}
.xoa{
    color: red;
    font-size: 14px;
    margin-left: 80px;
   
}
.xoa:hover{
    color: yellowgreen;
}